.modal {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s,
    visibility 0.5s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.modal__container {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  width: 730px;
  max-width: 100%;
  padding: 32px 50px;
  position: relative;
  opacity: 0;
  transform: scale(0.96);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.modal_is-opened .modal__container {
  opacity: 1;
  transform: scale(1);
}

.modal__container .modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
  height: 40px;
}

.modal__title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
  margin: 0;
}

.modal__close-btn {
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-image: url("../images/Closebtn.svg");
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 630px;
  height: 100%;
  gap: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #212121b2;
}

.modal__input {
  display: block;
  border-radius: 8px;
  border-width: 1px;
  padding: 16px 12px;
  border: 1px solid #21212166;
  font-size: 20px;
  line-height: 100%;
  font-family: "Poppins", Arial, sans-serif;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #2121214b;
  font-family: "Poppins", Arial, sans-serif;
  cursor: pointer;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  gap: 8px;
  opacity: 1;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
  border: none;
  cursor: pointer;
}

.modal__submit-btn:disabled {
  opacity: 0.5;
  background-color: #212121;
}

.modal__submit-btn:hover {
  background-color: #212121cc;
}

.modal__image-container {
  position: relative;
  max-width: unset;
}

.modal__close-preview {
  position: absolute;
  top: 0;
  right: -48.5px;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent center no-repeat;
  background-image: url("../images/Closebtn.svg");
  opacity: 0.4;
  padding: 0;
}

.modal__close-preview:hover {
  opacity: 1;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  display: inline-block;
  opacity: 1;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal__error {
  color: rgba(255, 0, 0, 0.6);
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 12px;
  }
  .modal__container {
    width: 300px;
    padding: 22px 12px 12px;
  }

  .modal__header {
    margin: 0 0 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-preview {
    top: -48px;
    right: 0;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__image-container {
    max-width: unset;
    padding: 0 16px;
  }
  .modal__caption {
    font-size: 16px;
  }
}
