.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  border-radius: 8px;
  margin-right: 20px;
  height: 190px;
  width: 190px;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}
.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121b2;
}
.profile__add-btn {
  cursor: pointer;
  border: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  text-align: center;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn {
  cursor: pointer;
  display: flex;
  gap: 8px;
  opacity: 0.7;
  border: none;
  background-color: #fcf5e5;
  text-align: start;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  margin-top: auto;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__edit-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 630px) {
  .profile {
    min-width: 288px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__add-btn {
    margin: 0;
    width: 288px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__description {
    padding: 0 0 32px;
    margin: 0 auto;
  }
  .profile__edit-btn {
    margin: 0 auto;
  }
}
